@model Forecast.Models.Location

@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send location details!</h2>
<hr />
<form>
    @Html.LabelFor(model => model.Latitude)
    @Html.TextBoxFor(model => model.Latitude)
    <br /><br />
    @Html.LabelFor(model => model.Longitude)
    @Html.TextBoxFor(model => model.Longitude)
    <br /><br />
    <input class="sendResult" type="submit" value="Send!" />
</form>

<div class="result">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.sendResult').click(function (event) {
            event.preventDefault();
            var result = function () {
                var lat = $("#Latitude").val();
                var long = $("#Longitude").val();
                console.log(lat, long);
                    
                $.getJSON("https://api.forecast.io/forecast/" + "@Forecast.Models.EnvironmentVariables.apiKey" + "/" + lat + "," + long + "?callback=?", function (json) {
                    console.log(json);
                    $('.result').html('<p> Temperature: ' + json.currently.temperature + " °C" + '<br />' + "Windspeed: " + json.currently.windSpeed + " m/s²" + '</p>');

                });
            }
            result();
        });
    });
</script>


@Html.ActionLink("Home", "Index")

